// See https://vuejs.org/v2/guide/transitions.html to learn how to use transitions
.fade-enter,
.fade-leave-to
  opacity: 0

.fade-enter-active,
.fade-leave-active
  transition: opacity $duration


.slide-top-enter,
.slide-top-leave-to
  opacity: 0
  transform: translate(0, 2rem)

.slide-top-enter-active,
.slide-top-leave-active
  transition: opacity $duration02, transform $duration13

.slide-bottom-enter,
.slide-bottom-leave-to
  opacity: 0
  transform: translate(0, -2rem)

.slide-bottom-enter-active,
.slide-bottom-leave-active
  transition: opacity $duration02, transform $duration13

.reprendre
  transition: opacity ease
  animation-delay: 2s
  animation-duration: 1s
  animation-name: opacity
  animation-fill-mode: forwards


@keyframes opacity
  from
    opacity: 0
  to
    opacity: 1