.reprendre,
.commencer
  display: block
  background-color: #E00000
  color: #FFF
  border-radius: 25px
  border-color: red
  font-family: "Montserrat-Bold"
  text-align: center
  text-decoration: none
  padding-left: 0

  
.reprendre
  position: fixed
  font-size: 22px
  width: 171px
  padding-top: 10px
  right: 50px
  opacity: 0
  bottom: 110px
  padding-bottom: 10px

.commencer
  position: relative
  font-size: 1.5rem
  width: 14rem
  padding-top: 0.25rem
  padding-bottom: 0.25rem
  letter-spacing: 5px
  

  +from($tablet)
    width: 19rem
    font-size: 2rem